html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: linear-gradient(180deg, #101245 45.46%, #5B1F65 110.79%);
}

footer {
    position: absolute;
    bottom: 2px;
    right: 3px;
}

.logo {
    padding: 1% 0 0 1%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.content-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-style {
    color: #FFF;
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
}

.logotext {
    font-size: 32px;
}

.searchLabel {
    width: 500px;
    height: 60px;
    flex-shrink: 0;
    font-size: 2rem;
}

.searchBox {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    font-size: 1.5rem;
    border-radius: 20px;
    background: #6A6ED6;
}

.searchButton {
    width: 100%;
    height: 54px;
    flex-shrink: 0;
    font-size: 1.5rem;
    border-radius: 25px;
    background: #54A42F;
}

.text-1 {
    font-size: 2.5rem;
    text-align: center;
}

.text-2 {
    font-size: 1rem;
    text-align: center;
}

tr {
    background-color: #5659B1;
    text-align: center;
}

.table-wrapper {
    max-height: 250px;
    overflow-y: auto;
    background: linear-gradient(90deg, rgba(52, 53, 82, 0.90) 0%, rgba(52, 53, 82, 0.70) 100%);
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background: #474978;
    border-radius: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.object-1 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.object-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;

}

.object-3 {
    position: absolute;
    left: 500px;
    bottom: 500px;
    z-index: -1;

}

.object-4 {
    position: absolute;
    right: 100px;
    bottom: 350px;
    z-index: -1;

}

.object-5 {
    position: absolute;
    right: 300px;
    bottom: 40px;
    z-index: -1;

}

.object-6 {
    position: absolute;
    left: 150px;
    bottom: 300px;
    z-index: -1;

}

.object-7 {
    position: absolute;
    left: 500px;
    bottom: 100px;
    z-index: -1;

}